<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>生徒情報更新</title>
</head>
<body>
<h1>生徒情報の更新</h1>

<form th:action="@{/updateStudentPage}" th:object="${studentDetail}" method="post">
  <input type="hidden" th:field="*{student.id}"/>

  <table border="1">
    <tr>
      <th>名前</th>
      <td><input type="text" th:field="*{student.name}"/></td>
    </tr>
    <tr>
      <th>カナ名</th>
      <td><input type="text" th:field="*{student.furigana}"/></td>
    </tr>
    <tr>
      <th>ニックネーム</th>
      <td><input type="text" th:field="*{student.nickname}"/></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><input type="email" th:field="*{student.mailAddress}"/></td>
    </tr>
    <tr>
      <th>地域</th>
      <td><input type="text" th:field="*{student.region}"/></td>
    </tr>
    <tr>
      <th>年齢</th>
      <td><input type="number" th:field="*{student.age}"/></td>
    </tr>
    <tr>
      <th>性別</th>
      <td><input type="text" th:field="*{student.gender}"/></td>
    </tr>
    <tr>
      <th>備考</th>
      <td><textarea th:field="*{student.remark}"></textarea></td>
    </tr>
  </table>


  <br/>
  <div id="courses-container">
    <h3>受講コース</h3>
    <div th:each="course, stat : *{studentCourseList}" class="course-entry">
      <input type="hidden"
             th:name="'studentCourseList[' + ${stat.index} + '].id'"
             th:value="*{studentCourseList[__${stat.index}__].id}"/>
      <label th:for="'studentCourseList' + ${stat.index} + '_courseName'">
        コース名 [[${stat.index + 1}]]:
      </label>
      <input type="text"
             th:field="*{studentCourseList[__${stat.index}__].courseName}"/>
      <br/>
    </div>
  </div>
  <br/><br/>

  <button type="submit">更新</button>
</form>
<form th:action="@{/deleteStudent}" th:object="${studentDetail}" method="post">
  <input type="hidden" th:field="*{student.id}"/>
  <button type="submit">削除</button>
</form>
<p><a th:href="@{/studentDetailPage/{id}(id=${studentDetail.student.id})}">← 戻る</a></p>

</body>
</html>